.containerProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.backToProducts {
    margin-top: 20px;
    margin-left: 20px;
}